@import '@/assets/styles/colors.scss';

hr {
  margin: 0 !important;
}

.feed__container {
  margin-right: 24px;
  max-width: 584px;
  width: 100%;

  .feed__card {
    background-color: $system_white;
    width: 100%;
    max-height: 886px;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 32px;
    box-shadow: 0 0 10px 0 $system_gray05;

    .feed__profile {
      padding: 20px 24px;
      max-height: 80px;
      display: flex;
      justify-content: space-between;

      .feed__profile__img {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1em;
      }
    }

    .feed__thumbnail {
      background-color: #858585;
      height: 100%;
      min-height: 100px;
      width: 100%;
      object-fit: cover;
    }

    .feed__information {
      display: flex;
      padding: 12px 24px;
    }

    .feed__comment__container {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
      width: 100%;
      max-height: 72px;

      .my__profile__img {
        max-width: 32px;
        max-height: 32px;
        object-fit: cover;
        border-radius: 50%;
      }

      .feed__comment__input {
        border: none;
        outline: none;
        width: calc(100% - 140px);
      }

      .feed__comment__submit {
        width: 28px;
        height: 28px;
      }
    }
    .feed__side__menu {
      position: absolute;
      border: 1px solid $system_gray05;
      border-radius: 8px;
      width: 100px;
      height: 100px;
      background-color: $system_white;
    }
  }
}
