
.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 296px;
  width: 100%;
  min-height: 936px;
  height: 100%;

  &--items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
  }

  &--item {
    width: 100%;
    max-width: 280px;
    height: 56px;
    padding: 16px 40px;
  }
}

.circle {
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  background-color: #FF5831;
  border-radius: 50%;
}
